<div id="img-cont">
    <h1 class="title is-2 has-text-centered">Propiedades</h1>
    <a [routerLink]="['/']" routerLinkActive="router-link-active" >
      <img src="/casa.png" alt="icono home" width="100px">
    </a>
  </div>
<div id="cont">
    <div *ngFor="let prop of propiedades" class="card">
        <p>Direccion de Propiedad: {{prop.Direccion}}</p>
        <p>Tipo de Propiedad: {{prop.TipoPropiedad}}</p>
        <p>Precio por Renta: {{prop.PrecioPeriodo}}</p>
        <p>Periodo por Renta: {{prop.PeriodoRenta}}</p>
        <p>Capacidad de Huespedes: {{prop.Capacidad}}</p>
        <p>Estatus: {{prop.Disponibilidad}}</p>
        <button (click)="obtenerPropietario(prop.IdPropietario)" class="button is-link my-2">Mostrar Informacion Propietario</button>
    </div>
</div>