<div>
    <h1>Propiedades</h1>
    <div *ngFor="let prop of propiedades">
        <p>Direccion de la Propiedad: {{prop.Direccion}}</p>
        <p>Tipo de Propiedad: {{prop.TipoPropiedad}}</p>
        <p>Precio por Renta: {{prop.PrecioPeriodo}}</p>
        <p>Periodo por Renta: {{prop.PeriodoRenta}}</p>
        <p>Capacidad de Huespedes: {{prop.Capacidad}}</p>
        <p>{{prop.Disponibilidad}}</p>
        <button (click)="obtenerPropietario(prop.IdPropietario)">Mostrar Informacion Propietario</button>
    </div>
</div>