#cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px; 
  }

  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #0919fd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(20, 5, 154, 0.849); 
  }

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#img-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}