<div class="has-text-centered">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >
    <img src="/casa.png" alt="icono home" width="100px">
  </a>
</div>
<table class="table">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Número de Propiedades</th>
      <th>Fecha de Registro</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let user of propietarios">
      <td>{{user.idPropietario}}</td>
      <td>{{user.Nombre}}</td>
      <td>{{user.Email}}</td>
      <td>{{user.Telefono}}</td>
      <td>{{user.NumeroPropiedades}}</td>
      <td>{{user.FechaRegistro}}</td>
      <td>
        <button class="button is-info mr-5" (click)="seleccionarPropietario(user)">Editar</button>
        <button class="button is-dark" (click)="eliminarPropietario(user.idPropietario)">Eliminar</button>
      </td>
    </tr>
  </table>

  <div *ngIf="propietarioSeleccionado" class="box">
    <h3 class="subtitle is-3">Editar Propietario</h3>
    <form (ngSubmit)="actualizarPropietario()">
      <div>
        <label class="label">Nombre:</label>
        <input class="input is-info" type="text" [(ngModel)]="propietarioSeleccionado.Nombre" name="nombre" required>
      </div>
      <div>
        <label class="label">Email:</label>
        <input class="input is-info" type="email" [(ngModel)]="propietarioSeleccionado.Email" name="email" required>
      </div>
      <div>
        <label class="label">Teléfono:</label>
        <input class="input is-info" type="text" [(ngModel)]="propietarioSeleccionado.Telefono" name="telefono" required pattern="^[0-9]{10}$"
        maxlength="10"
        (keypress)="soloNumeros($event)">
      </div>
      <div>
        <label class="label">Número de Propiedades:</label>
        <input class="input is-info" type="number" [(ngModel)]="propietarioSeleccionado.NumeroPropiedades" name="numeroPropiedades" required min="1">
      </div>
      <button type="submit" class="button is-info is-dark mt-3 mr-5">Actualizar</button>
      <button type="button" (click)="cancelarEdicion()" class="button is-dark mt-3">Cancelar</button>
    </form>
  </div>
  