<h1 class="title is-2 has-text-centered mt-5">Bienvenido a la Aplicación de Registro</h1>
<div class="content">
  <div class="box">
    <h3 class=" subtitle has-text-centered">Propietarios</h3>
    <button class="button is-link" routerLink="/registrar_propietarios">Registrar Propietarios</button><br>
    <button class="button is-link" routerLink="/listar_propietarios">Ver Propietarios</button><br>
  </div>
  <div class=" box">
    <h3 class=" subtitle has-text-centered">Propiedades</h3>
    <button class="button is-link" routerLink="/registrar_prop">Registrar Propiedades</button><br>
    <button class="button is-link" routerLink="/listar_prop">Ver Propiedades</button><br>
    <button class="button is-link" routerLink="/ver_prop">Vista Propiedades Clientes</button>

  </div>
  <div class="box">
    <h3 class=" subtitle has-text-centered">Inquilinos</h3>
    <button class="button is-link" routerLink="/registrar_inquilino">Registrar Inquilinos</button><br>
    <button class="button is-link" routerLink="/listar_inquilinos">Ver Inquilinos</button><br>
  </div>
</div>
